/*** 

====================================================================
    Chooseus Section
====================================================================

***/

.chooseus-section {
  position: relative;
  padding: 135px 0;
  z-index: 99;
  overflow: hidden;
  &.bg-gray{
    background-color: var(--theme-color-lighter);
  }
  .shape-bg{
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 179px;
    background-position: top left;
    background-size: contain;
  }
  .bg-image{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(xl){
      width: 38%;
    }
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
  .anim-icons{
    .image-1{
      position: absolute;
      top: calc(50% - 249px);
      right: 0;
    }
  }
}
.features-list-slider .swiper-scrollbar {
  position: absolute;
  top: 0;
  left: 65px;
  width: 1px;
  background: rgb(19 13 26 / 10%);
  @include transition(all 300ms ease);
  @include media-breakpoint-down(sm){
    left: 10px;
  }
}
.features-list-slider .swiper-scrollbar-drag {
  background: rgb(19 13 26 / 30%);
}
.content-column{
  .inner-colmun{
    margin-left: 100px;
    @include media-breakpoint-down(xxxl){
      margin-left: 60px;
    }
    @include media-breakpoint-down(sm){
      margin-left: 0px;
    }
  }
}
.features-list-slider {
  height: 455px;
  @include media-breakpoint-down(md){
    height: 655px;
  }
  @include media-breakpoint-down(sm){
    height: 600px;
  }
}
.feature-block-three {
  position: relative;
  padding-left: 120px;
  box-sizing: border-box;
  @include media-breakpoint-down(sm){
    padding-left: 50px;
  }
  &:hover{
    .inner-box{
      .icon-box{
        color: var(--theme-color1);
      }
    }
  }
  .sl-number{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-color2);
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  .inner-box{
    position: relative;
    padding-left: 77px;
    max-width: 400px;
    @include media-breakpoint-down(md){
      padding-left: 0;
      max-width: 100%;
    }
    .title{
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      color: #1B152C;
      margin-bottom: 10px;
    }
    .text{
      color: var(--text-color2);
    }
    .icon-box{
      position: absolute;
      top: 0;
      left: 0;
      font-size: 50px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      color: var(--text-color2);
      @include media-breakpoint-down(md){
        position: relative;
      }
      @include transition(all 300ms ease);
    }
  }
}